.aboutcontent {
    width: 1024px;
    margin-left: unquote("-webkit-calc((100% - 1024px)/2)");
    margin-right: unquote("-webkit-calc((100% - 1024px)/2)");
    background-image: url("/assets/img/brown.gif");
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 80px;
}

.introduction {
    height: 60vh;
    min-height: 500px;
}

.profileimg img {
    transition: transform .5s ease;
    border: 1px solid black;
    border-radius: 100px;
    width: 100px;
    height: 100px;
  }

.profileimg:hover img {
    transform: scale(1.3); 
}

.row {
    text-align: center;
}

.feedback {
    margin: 40px 200px 0 200px;
    background-color: var(--yellow);
    border-radius: 10px;
}

.longtext {
    margin: 40px 80px 0 80px;
    background-color: var(--yellow);
    border-radius: 10px;
    padding: 30px;
}

a {
    color: rgb(139, 37, 11);
}