<div id="about" class="page2">
    <div id="aboutContent" class="aboutcontent">
        <div id="introduction" class="introduction">
            <div class="row" style="margin-top: 80px;">
                <div class="col"></div>
                <div class="col profileimg"><img src="assets/img/andras.jpg"></div>
                <div class="col profileimg"><img src="assets/img/peti.jpg"></div>
                <div class="col"></div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col"></div>
                <div class="col"><h2>Gyöngyösi András</h2></div>
                <div class="col"><h2>Gyöngyösi Péter</h2></div>
                <div class="col"></div>
            </div>
            <div class="row" style="margin-top: -20px;">
                <div class="col"></div>
                <div class="col"><h5><i>Idea, business logic implementation</i></h5></div>
                <div class="col"><h5><i>Design</i></h5></div>
                <div class="col"></div>
            </div>
            <div class="row longtext">
                <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin ut velit vel tristique. 
                    Proin venenatis mauris ipsum, ut ullamcorper enim fringilla a. Phasellus fermentum neque vitae justo sagittis placerat. 
                    In tincidunt fringilla felis, eget posuere libero. In et libero lacinia, lacinia tortor sed, lobortis eros. 
                    Duis luctus metus at semper dignissim. Donec ut metus dignissim, egestas nibh pulvinar, viverra orci. 
                    Donec sed purus efficitur, fermentum augue at, sollicitudin nunc. 
                    In vehicula, nisl sed porta aliquet, lorem nisi vestibulum nisl, vel euismod ex lectus vitae nunc. Nulla facilisi. 
                    Aenean sodales felis sed risus ultricies iaculis. 
                </div>
            </div>
            <div class="row feedback">
                <div class="col">
                    <h3 style="margin-top: 10px">Send your feedback to the following e-mail: 
                        <a href="mailto:gyongy96@gmail.com">gyongy96@gmail.com</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>