<div id="about" class="page2">
    <div id="aboutContent" class="aboutcontent">
        <div id="introduction" class="introduction">
            <div class="row" style="margin-top: 80px;">
                <div class="col"></div>
                <div class="col profileimg"><img src="assets/img/andras.jpg"></div>
                <div class="col profileimg"><img src="assets/img/peti.jpg"></div>
                <div class="col"></div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col"></div>
                <div class="col"><h2>Gyöngyösi András</h2></div>
                <div class="col"><h2>Gyöngyösi Péter</h2></div>
                <div class="col"></div>
            </div>
            <div class="row" style="margin-top: -20px;">
                <div class="col"></div>
                <div class="col"><h5><i>Idea, business logic implementation</i></h5></div>
                <div class="col"><h5><i>Design</i></h5></div>
                <div class="col"></div>
            </div>
            <div class="row longtext">
                <div class="col">
                    Dear Visitor! At first I would introduce myself. I am Andras Gyongyosi, former student of the Budapest University of Technology and Economics. 
                    I learned Computer Science just like my brother, Peter. We both love music, I play guitar, 
                    Peter is good at lot of instrument, but I define him as a pianist. This website is our product, and my diploma project, Chordie. 
                    Our goal is to help other musician to learn new chords, try other tunings. I hope you will enjoy the site and you will think of it as useful.
                </div>
            </div>
            <div class="row feedback">
                <div class="col">
                    <h3 style="margin-top: 10px">Send your feedback to the following e-mail: 
                        <a href="mailto:gyongy96@gmail.com">gyongy96@gmail.com</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>
