<div class="row row2">
    <div class="col" >
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedInstrument" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 200px; font-size: 16px; height:50px;">{{selectedInstrument.name}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let instrument of instruments" ngbDropdownItem (click)="selectInstrument(instrument)">{{instrument.name}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <input autofocus type="text" [(ngModel)]="chordText" (ngModelChange)="chordAnalyze(chordText)" (keyup.enter)="getChordCatches()" 
        class="form-control inputText" style="width: 200px; height:50px; font-size: 24px;" placeholder="Type your chord!">
      </div>
</div>
<div *ngIf="chordComponent" class="row row2">
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChordLabel && selectedChordLabel.baseSound" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">{{selectedChordLabel.baseSound}}</button>
            <button *ngIf="!selectedChordLabel || !selectedChordLabel.baseSound" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">Base Sound</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let baseSound of chordComponent.baseSounds" ngbDropdownItem (click)="selectBaseSound(baseSound.label)">{{baseSound.label}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChordLabel && selectedChordLabel.baseType" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">{{selectedChordLabel.baseType}}</button>
            <button *ngIf="!selectedChordLabel || !selectedChordLabel.baseType" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">Base Type</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let baseType of chordComponent.baseTypes" ngbDropdownItem (click)="selectBaseType(baseType.label)">{{baseType.label}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChordLabel && selectedChordLabel.chordType" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">{{selectedChordLabel.chordType}}</button>
            <button *ngIf="!selectedChordLabel || !selectedChordLabel.chordType" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">Chord Type</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let chordType of chordComponent.chordTypes" ngbDropdownItem (click)="selectChordType(chordType.label)">{{chordType.label}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChordLabel && selectedChordLabel.rootNote" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">{{selectedChordLabel.rootNote}}</button>
            <button *ngIf="!selectedChordLabel || !selectedChordLabel.rootNote" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">Root Note</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let rootNote of chordComponent.baseSounds" ngbDropdownItem (click)="selectRootNote(rootNote.label)">{{rootNote.label}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChordLabel" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;"><i>Capo:</i> {{selectedChordLabel.capo}}</button>
            <button *ngIf="!selectedChordLabel" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;"><i>Capo</i></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let capo of capos" ngbDropdownItem (click)="selectCapo(capo)">{{capo}}</button>
            </div>
        </div>
    </div> 
    <div class="col">
        <button type="button" class="btn btn-outline-light" (click)="getChordCatches()">Ok</button>
    </div>
</div>

<div class="row list">
    <div class="col" >
        <p *ngIf="!isLoggedIn"><a (click)="login()">Log in</a> to manage your lists!</p>
        <p *ngIf="isLoggedIn" style="display: inline-block; padding-right: 10px;"> Select your list: </p> 
        <button type="button" *ngIf="isLoggedIn" class="btn btn-outline-secondary btn-sm" style="display: inline-block;">Create list</button>
    </div>  
</div>