.chords {
    background: url("/assets/img/background1.jpg");
    background-size: cover;
    padding:100px 0px 1px 0px; 
    min-height: 100vh;
}

.col {
    text-align: center;
}

h5 {
    font-size: 20px;
    
}

a {
    cursor: pointer;
}

.row1 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.row2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.col1 {
    margin-left: 20px;
    padding-bottom: 5px;
}

table {
    margin: 0 auto;
}

.help {
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    cursor: pointer;
}

.main-catch {
    margin-bottom: 30px;
}

.main-catch-img {
    height: 26px;
    width: 66px;  
}

.other-catch-img {
    height: 21px;
    width: 51px;
}

.other-catches {
    padding: 10px 15px 10px 10px;
}

.mainheader:hover {
    background: rgba(211, 164, 61, 0.5) !important;
}

.otherheader {
    margin-right: -15px;
}

.otherheader:hover {
    background: rgba(211, 164, 61, 0.1) !important;
}

.chordsContent {
    width: 1180px;
    margin-left: unquote("-webkit-calc((100% - 1180px)/2)");
    margin-right: unquote("-webkit-calc((100% - 1180px)/2)");
    background-color: rgb(172, 152, 111);
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 20px;
}

.footer {
    display: inline-block;
}

.noContent {
    padding-top: 30vh;
    text-align: center;
    font-size: 50px;
    color: rgb(34, 29, 29)
}

.noContent a {
    cursor: pointer;
}