<div id="chords" class="chords" [ngStyle]="{'height': pageHeight}">
    <div *ngIf="chordCatches" id="chordsContent" class="chordsContent" >
        <div class="row row1">
            <div class="col"></div>
            <div class="col col1">
                <div style="display:block; margin-left: 40px">
                    <h3 style="font-size: 30px; display: inline-block;">Suggested catch</h3>
                    <a (click)="openCatchTipDialog()" (mouseenter)="changeHelpOnHover('help')" (mouseleave)="changeHelpAfterHover('help')"><p class="help" ngbTooltip="Click here to explain how to read the catches!" [openDelay]="300"><img
                            id="help" src="assets/img/help2.png" width="30" height="30"></p></a>
                </div>
                <div style="display:block">
                    <h5 style="display:inline-block;">( {{chordCatches.chord}})</h5>
                    <h5 *ngIf="chordCatches.rootNote != 'null'" style="display:inline-block">&nbsp;/ Root Note:
                        {{chordCatches.rootNote}}</h5>
                    <h5 *ngIf="chordCatches.capo != 0" style="display:inline-block">&nbsp;/ Capo: {{chordCatches.capo}}
                    </h5>
                </div>
            </div>
            <div class="col">
                <div *ngIf="chordCatches.capo != 0" class="alert alert-warning alert-dismissible fade show"
                    style="width:250px; margin-bottom: -100px; margin-right: auto; margin-left: auto; padding: 5px;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p style="font-size: 20px;">INFO</p>
                    <hr>
                    <p>If the capo is too far from the catches, we will not show it.</p>
                </div>
            </div>
        </div>
        <div *ngIf="chordCatches && bundsByCatch" class="main-catch">
            <div style="width: 50%; margin: 0 30%;">
                <mat-accordion>
                    <mat-expansion-panel style="background-color: rgb(173, 144, 82); width: 500px">
                        <mat-expansion-panel-header class="mainheader" style="background-color: var(--yellow); padding: 0 30px 0 0"
                            [collapsedHeight]="customMainHeight" [expandedHeight]="customMainHeight">
                            <mat-panel-title>
                                <table style="margin-bottom: 10px;">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td *ngFor="let bund of bundsByCatch[0]" style="text-align: center;">{{bund}}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let string of chordCatches.catches[0].stringCatches">
                                            <td *ngIf="string.bund == 0">
                                                <img class="main-catch-img" src="assets/img/view/nut_open.png"></td>
                                            <td *ngIf="string.bund == -1">
                                                <img class="main-catch-img" src="assets/img/view/nut_unplayed.png"></td>
                                            <td *ngIf="string.bund != 0 && string.bund != -1">
                                                <img class="main-catch-img" src="assets/img/view/nut_default.png"></td>

                                            <td *ngFor="let bund of bundsByCatch[0]">
                                                <img *ngIf="bund == chordCatches.capo; else elseBlock"
                                                    class="main-catch-img" src="assets/img/view/bund_capo.png">
                                                <ng-template #elseBlock>
                                                    <img *ngIf="bund != string.bund" class="main-catch-img"
                                                        src="assets/img/view/bund_unplayed.png">
                                                    <img *ngIf="bund == string.bund" class="main-catch-img"
                                                        src="assets/img/view/bund_played_{{string.finger}}.png">
                                                </ng-template>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <div class="row">
                            <div class="footer" style="margin: 0 auto">
                                <a><img id="noteMain" (mouseenter)="changeNoteOnHover('noteMain')" (mouseleave)="changeNoteAfterHover('noteMain')" src="assets/img/note.png" width="30" height="30"></a>
                            </div>
                            <div style="margin: 0 auto">
                                <p class="footer" style="margin-right: 15px; font-size: 16px;">Add to the selected list (///LIST///): </p>
                                <a class="footer"><img id="addMain" (mouseenter)="changeAddOnHover('addMain')" (mouseleave)="changeAddAfterHover('addMain')" src="assets/img/add_black.png" width="30" height="30"></a>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <hr>

        <div class="row row2">
            <div class="col">
                <h3 style="font-size: 24px;">Other options</h3>
            </div>
        </div>
        <div class="row other-catches">
            <div  *ngFor="let bund of bundsByCatch; let i = index" >
            <div class="col" *ngIf="i > 0" style="margin: 10px; padding: 0;">
                <mat-accordion >
                    <mat-expansion-panel style="background-color: rgb(173, 144, 82); width: 370px">
                        <mat-expansion-panel-header class="otherheader" style="background-color: rgb(172, 152, 111); padding: 0 30px 0 0"
                            [collapsedHeight]="customOtherHeight" [expandedHeight]="customOtherHeight">
                            <mat-panel-title>
                                <table style="margin-bottom: 10px;">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td *ngFor="let bund of bundsByCatch[i]">{{bund}}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let string of chordCatches.catches[i].stringCatches">

                                            <td *ngIf="string.bund == 0"><img class="other-catch-img"
                                                    src="assets/img/view/nut_open.png"></td>
                                            <td *ngIf="string.bund == -1"><img class="other-catch-img"
                                                    src="assets/img/view/nut_unplayed.png"></td>
                                            <td *ngIf="string.bund != 0 && string.bund != -1"><img
                                                    class="other-catch-img" src="assets/img/view/nut_default.png"></td>

                                            <td *ngFor="let bund of bundsByCatch[i]">
                                                <img *ngIf="bund == chordCatches.capo; else elseBlock"
                                                    class="other-catch-img" src="assets/img/view/bund_capo.png">
                                                <ng-template #elseBlock>
                                                    <img *ngIf="bund != string.bund" class="other-catch-img"
                                                        src="assets/img/view/bund_unplayed.png">
                                                    <img *ngIf="bund == string.bund" class="other-catch-img"
                                                        src="assets/img/view/bund_played_{{string.finger}}.png">
                                                </ng-template>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <hr>
                        <div class="row">
                            <div class="footer" style="margin: 0 auto">
                                <a><img id="noteOther{{i}}" (mouseenter)="changeNoteOnHover('noteOther' + i)" (mouseleave)="changeNoteAfterHover('noteOther' + i)" src="assets/img/note.png" width="30" height="30"></a>
                            </div>
                            <div style="margin: 0 auto">
                                <p class="footer" style="margin-right: 15px; font-size: 14px;">Add to the selected list (///LIST///): </p>
                                <a class="footer"><img id="addOther{{i}}" (mouseenter)="changeAddOnHover('addOther' + i)" (mouseleave)="changeAddAfterHover('addOther' + i)" src="assets/img/add_black.png" width="30" height="30"></a>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    </mat-expansion-panel>
                </mat-accordion>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="!chordCatches" class="noContent">
        <a (click)="scrollToHome()">Select a Chord!</a>
    </div>
</div>