.instrumentsandlists {   
    min-height: 1024px;
}

.instrumentscontent, .listscontent {
    background-color: var(--backgroundGray);
    border: 1px solid rgb(201, 175, 119);
    width: 504px;
    margin-top: 10vh;
    margin-left: unquote("-webkit-calc((100% - 1024px)/2)");
    margin-right: unquote("-webkit-calc((100% - 1024px)/2)");
    border-radius: 10px;
    text-align: center;
}

.instrument:hover, .list:hover {
    background-color: var(--backgroundGrayDarker);
}

.instrumentscontent {
    float: right;
}

.listscontent {
    position: absolute;
}

.instrument, .list {
    width: 480px;
    margin: 12px;
    padding: 0px;
    background-color: var(--backgroundGrayLighter);
    border: 1px solid rgb(201, 175, 119);
    border-radius: 10px;
    color: rgb(201, 175, 119);
}

.instrumentlist {
    text-align: left;
    font-size: 18px;
}

.edit {
    float: right;
    width:30px;
    height: 30px;
    cursor: pointer;
}

h3 {
    margin-top: 25px;
    font-size: 24px;
}

a {
    cursor: pointer;
}

.hr {
    width: 300px;
    background-color: var(--yellow);
}