<div id="instrumentsandlists" class="instrumentsandlists page">
    <div class="instrumentscontent">
        <div class="instrument">
            <h3>Instrument</h3>
            <hr class="hr">
            <button mat-button class="btn btn-outline-warning newbutton" (click)="openNewInstrumentDialog()">Add new</button>
            <div class="innercontent">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Your instruments
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <cdk-virtual-scroll-viewport itemSize="{{instruments.length}}"
                            [ngStyle]="{'height': instrumentHeight}">
                            <hr>
                            <div *ngFor="let instrument of instruments" class="items">
                                <a *ngIf="!instrument.isPublic" (click)="openEditInstrumentDialog(instrument)"><img
                                        src="assets/img/edit.png" class="edit">
                                    <p class="instrumentlist">{{instrument.name}}</p>
                                </a>
                                <a *ngIf="instrument.isPublic" (click)="openEditInstrumentDialog(instrument)"><img
                                        src="assets/img/watch.png" class="edit">
                                    <p class="instrumentlist">{{instrument.name}}</p>
                                </a>
                                <hr>
                            </div>
                        </cdk-virtual-scroll-viewport>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenStateInstrument = true"
                        (closed)="panelOpenStateInstrument = false">
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>

    <div class="listscontent">
        <div class="list">
            <h3>List</h3>
            <hr class="hr">
            <button mat-button class="btn btn-outline-warning newbutton" (click)="openNewListDialog()">Add new</button>
            <div class="innercontent">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Your lists
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <cdk-virtual-scroll-viewport *ngIf="lists.length > 0" itemSize="{{lists.length}}"
                            [ngStyle]="{'min-height': '100px', 'height': listHeight}">
                            <hr>
                            <div *ngFor="let list of lists" class="items">
                                <a (click)="openEditListDialog(list)"><img src="assets/img/edit.png" class="edit">
                                    <p class="instrumentlist">{{list.name}}</p>
                                </a>
                                <hr>
                            </div>
                        </cdk-virtual-scroll-viewport>
                        <div *ngIf="lists.length == 0">
                            <p>You don't have any list!</p>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenStateList = true" (closed)="panelOpenStateList = false">
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>