<div class="catchdialog">
    <h2 style="display: inline;">Tips</h2>
    <a class="nutImg" style="display: inline;" (click)="changeTipImg(yellow)"><img id="tip" src="assets/img/tips{{yellow}}.png" width="75" height="60"></a>
</div>
<hr style="width: 400px">
<mat-dialog-content class="mat-typography">
<div style="width: 50vh; margin: 0 auto">
    <p class="catchdialog">Guitar position</p>
    <p class="catchdialog"><img src="assets/img/guitar.png" width="100%" height="25%"></p>
</div>
<hr>
<div class="row">
    <div class="col">
        <p class="nutImg"><img src="assets/img/view/nut_open.png" width="60" height="30"></p>
        <p class="nutText">You don’t have to catch the string, but you have to pluck it off.</p>
    </div>

    <div class="col">
        <p class="nutImg"><img src="assets/img/view/nut_unplayed.png" width="60" height="30"></p>
        <p class="nutText">No need to pluck the string.</p>
    </div>

    <div class="col">
        <p class="nutImg"><img src="assets/img/view/nut_default.png" width="60" height="30"></p>
        <p class="nutText">Catch the string with the marked finger.</p>
    </div>
</div>
</mat-dialog-content>
<hr style="width: 400px">

<mat-dialog-actions align="end">
    <button class="btn btn-outline-warning" style="margin-right: 10px;" mat-button (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>

