<div class="row row2" style="color:aliceblue">
    ts robotic Chang'e-5 mission touched down a short while ago with the aim of collecting samples of rock and dust to bring back to Earth.
                The venture has targeted Mons Rümker, a high volcanic complex in a nearside region known as Oceanus Procellarum.
                The lander is expected to spend the next couple of days examining its surroundings and gathering up surface materials.
                It has a number of instruments to facilitate this, including a camera, spectrometer, radar, a scoop and a drill.    
                The intention is to package about 2kg of "soil", or regolith, to send up to an orbiting vehicle that can then transport the samples to Earth.
                It's 44 years since this was last achieved. That was the Soviet Luna 24 mission, which picked up just under 200g.
                The 8.2-tonne Chang'e-5 spacecraft "stack" was launched from the Wenchang spaceport in southern China on 24 November (local time). It arrived above the Moon at the weekend and then set about circularising its orbit before splitting in two.

One half - a service vehicle and return module - stayed in orbit, while a lander-ascender segment was prepared for a touchdown attempt.

Chinese authorities say this lander-ascender element put down on the Moon's surface at about 15:15 GMT (23:15 China Standard Time), after a 15-minute automated descent, controlled by the thrust of a 7,500-newton engine.

It follows China's two previous Moon landings - Chang'e-3 in 2013 and Chang'e-4 last year. Both of these earlier missions incorporated a static lander and small rover.

A total of just under 400kg of rock and soil were retrieved by American Apollo astronauts and the Soviets' robotic Luna programme - the vast majority of these materials coming back with the crewed missions.

But all these samples were very old - more than three billion years in age. The Mons Rümker materials, on the other hand, promise to be no more than 1.2 or 1.3 billion years old. And this should provide additional insights on the geological history of the Moon.

The samples will also allow scientists to more precisely calibrate the "chronometer" they use to age surfaces on the inner Solar System planets.

This is done by counting craters (the more craters, the older the surface), but it depends on having some definitive dating at a number of locations, and the Apollo and Soviet samples were key to this. Chang'e-5 would offer a further data point.

Reports from China suggest the effort to retrieve surface samples may last no longer than a couple of days. Any retrieved materials will be blasted back into orbit on the ascent portion of the landing mechanism, and then transferred across to the service vehicle and placed in the return module.

The orbiter will shepherd the return module to the Earth's vicinity, jettisoning it to make an atmospheric entry and landing in the Siziwang Banner grasslands of the autonomous region of Inner Mongolia. This is where China's astronauts also return to Earth.
    <div class="col" style="margin-right: -150px">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedInstrument" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 200px; font-size: 16px; height:50px;">{{selectedInstrument.name}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let instrument of instruments" ngbDropdownItem (click)="selectComponent(instrument, 'instrument')">{{instrument.name}}</button>
            </div>
        </div>
    </div>
    <div class="col" style="margin-right: 100px">
        <input type="text" #typeChord [(ngModel)]="chordText" (ngModelChange)="chordAnalyze(chordText)" (keyup.enter)="getChordCatches()" 
        class="form-control inputText" style="width: 200px; height:50px; font-size: 24px; display: inline-block;" placeholder="Type your chord!">
        <p class="help" ngbTooltip="Click to example!"  [openDelay]="300" (click)="fillInputWithExample()"><img src="assets/img/help.png" width="30" height="30"></p>
    </div>
</div>
<div *ngIf="chordComponent" class="row row2">
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChord && selectedChord.baseSound" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">{{selectedChord.baseSound.label}}</button>
            <button *ngIf="!selectedChord || !selectedChord.baseSound" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">Base Sound</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let baseSound of chordComponent.baseSounds" ngbDropdownItem (click)="selectComponent(baseSound, 'baseSound')">{{baseSound.label}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChord && selectedChord.baseType" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">{{selectedChord.baseType.label}}</button>
            <button *ngIf="!selectedChord || !selectedChord.baseType" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">Base Type</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let baseType of chordComponent.baseTypes" ngbDropdownItem (click)="selectComponent(baseType, 'baseType')">{{baseType.label}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChord && selectedChord.chordType" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">{{selectedChord.chordType.label}}</button>
            <button *ngIf="!selectedChord || !selectedChord.chordType" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">Chord Type</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let chordType of chordComponent.chordTypes" ngbDropdownItem (click)="selectComponent(chordType, 'chordType')">{{chordType.label}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChord && selectedChord.rootNote" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">{{selectedChord.rootNote.label}}</button>
            <button *ngIf="!selectedChord || !selectedChord.rootNote" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">Root Note</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="selectComponent(null, 'rootNote')"></button>
                <button *ngFor="let rootNote of rootNotes" ngbDropdownItem (click)="selectComponent(rootNote, 'rootNote')">{{rootNote.label}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChord" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;"><i>Capo:</i> {{selectedChord.capo}}</button>
            <button *ngIf="!selectedChord" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;"><i>Capo</i></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let capo of capos" ngbDropdownItem (click)="selectComponent(capo, 'capo')">{{capo}}</button>
            </div>
        </div>
    </div> 
    <div class="col">
        <button type="button" class="btn btn-outline-light" (click)="getChordCatches()">Ok</button>
    </div>
</div>