<div class="row row2">
    <div class="col" style="margin-right: -150px">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedInstrument" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 200px; font-size: 16px; height:50px;">{{selectedInstrument.name}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let instrument of instruments" ngbDropdownItem (click)="selectComponent(instrument, 'instrument')">{{instrument.name}}</button>
            </div>
        </div>
    </div>
    <div class="col" style="margin-right: 100px">
        <input type="text" #typeChord [(ngModel)]="chordText" (ngModelChange)="chordAnalyze(chordText)" (keyup.enter)="getChordCatches()" 
        class="form-control inputText" style="width: 200px; height:50px; font-size: 24px; display: inline-block;" placeholder="Type your chord!">
        <p class="help" ngbTooltip="Click to example!"  [openDelay]="300" (click)="fillInputWithExample()"><img src="assets/img/help.png" width="30" height="30"></p>
    </div>
</div>
<div *ngIf="chordComponent" class="row row2">
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChord && selectedChord.baseSound" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">{{selectedChord.baseSound.label}}</button>
            <button *ngIf="!selectedChord || !selectedChord.baseSound" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">Base Sound</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let baseSound of chordComponent.baseSounds" ngbDropdownItem (click)="selectComponent(baseSound, 'baseSound')">{{baseSound.label}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChord && selectedChord.baseType" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">{{selectedChord.baseType.label}}</button>
            <button *ngIf="!selectedChord || !selectedChord.baseType" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">Base Type</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let baseType of chordComponent.baseTypes" ngbDropdownItem (click)="selectComponent(baseType, 'baseType')">{{baseType.label}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChord && selectedChord.chordType" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">{{selectedChord.chordType.label}}</button>
            <button *ngIf="!selectedChord || !selectedChord.chordType" class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">Chord Type</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let chordType of chordComponent.chordTypes" ngbDropdownItem (click)="selectComponent(chordType, 'chordType')">{{chordType.label}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChord && selectedChord.rootNote" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">{{selectedChord.rootNote.label}}</button>
            <button *ngIf="!selectedChord || !selectedChord.rootNote" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;">Root Note</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="selectComponent(null, 'rootNote')"></button>
                <button *ngFor="let rootNote of rootNotes" ngbDropdownItem (click)="selectComponent(rootNote, 'rootNote')">{{rootNote.label}}</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button *ngIf="selectedChord" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;"><i>Capo:</i> {{selectedChord.capo}}</button>
            <button *ngIf="!selectedChord" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle style="width: 150px;"><i>Capo</i></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let capo of capos" ngbDropdownItem (click)="selectComponent(capo, 'capo')">{{capo}}</button>
            </div>
        </div>
    </div> 
    <div class="col">
        <button type="button" class="btn btn-outline-light" (click)="getChordCatches()">Ok</button>
    </div>
</div>