.home {
    background: url("/assets/img/background1.jpg");
    background-size: cover;
    padding:65px 0px 1px 0px; height: 100vh
}

.selector {
    background-color: rgba( #161414, 0.5);
    border: 1px solid var(--yellow);
    width: 1024px;
    margin-top: 25vh;
    margin-left: unquote("-webkit-calc((100% - 1024px)/2)");
    margin-right: unquote("-webkit-calc((100% - 1024px)/2)");
    border-radius: 10px;
}
