<div class="row list">
    <div class="col" *ngIf="!isLoggedIn">
        <p>Log in to manage your lists and create new instruments!</p>  
    </div>  
    <div class="col" *ngIf="isLoggedIn" style="margin-top: -10px">
        <button type="button" *ngIf="!lists || lists.length == 0" class="btn btn-outline-secondary listbutton" (click)="openNewListDialog()">Create a list</button>
        <div ngbDropdown class="d-inline-block" style="margin: auto" *ngIf="lists && lists.length != 0">
            <button *ngIf="selectedList" class="btn btn-outline-secondary listbutton" id="dropdownBasic1" ngbDropdownToggle>{{selectedList.name}}</button>
            <button *ngIf="!selectedList" class="btn btn-outline-secondary listbutton" id="dropdownBasic1" ngbDropdownToggle>Select a list</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let list of lists" ngbDropdownItem (click)="selectList(list)">{{list.name}}</button>
            </div>
        </div>
    </div>
</div>