<div class="main-nav">
    <ul>
        <li class="logo">
            <a href="/">
                <img src="./assets/img/logo.png" alt="Chordie logo" width="150" height="50">
            </a>
        </li>
        <li class="menu lastmenuitem"><a href="#contact">Login</a></li>
        <!-- <li class="menu"><a href="#about">Logout</a></li> -->
        <li class="menu"><a (click)="scrollToAbout()">About</a></li>
        <li class="menu"><a (click)="scrollToHome()">Home</a></li>
        <li class="menu firstmenuitem">Hello Péter!</li>
    </ul>
</div>

<!-- <div style="position: fixed; width:100%">
    <div style="float:right; padding: 48vh 3% 0 0; margin: 0;">
        <img src="assets/img/scrollUp.png">

    </div>
</div>
<div style="position: fixed; width:100%">
    <div style="float:right; padding: 52vh 3% 0 0; margin: 0;">
        <img src="assets/img/scrollDown.png">
    </div>
</div> -->